# Files for chezmoi to download. Just like other files, they're skipped on
# platforms where .chezmoiignore ignores their path


# -------------------------------
# Fonts
# -------------------------------

# These get installed per user. On other Linux distros, I get fonts from the
# system package manager instead
{{- $fonts := "" }}
{{- if includeTemplate "is-atomic" . }}
{{-   $fonts = ".local/share/fonts" }}
{{- else if eq .chezmoi.os "darwin" }}
{{-   $fonts = "Library/Fonts" }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $fonts = "AppData/Local/Microsoft/Windows/Fonts" }}
{{- end }}
{{- if $fonts }}

# For the terminal, and the default font for everything else (see
# fontconfig/fonts.conf)
["{{ $fonts }}/JetBrainsMono"]
    type = "archive"
    url = "https://github.com/JetBrains/JetBrainsMono/releases/download/v2.304/JetBrainsMono-2.304.zip"
    stripComponents = 2
    include = ["fonts", "fonts/ttf", "fonts/ttf/JetBrainsMono-*.ttf"]

# Icons in the terminal. Used as a fallback for every font
["{{ $fonts }}/SymbolsNerdFont"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.5.1/NerdFontsSymbolsOnly.tar.xz"
    include = ["*.ttf"]

# For Zed
{{- range list "Regular" "Medium" "Bold" }}
["{{ $fonts }}/FiraMono/FiraMono-{{ . }}.ttf"]
    type = "file"
    url = "https://raw.githubusercontent.com/mozilla/Fira/4.202/ttf/FiraMono-{{ . }}.ttf"
{{- end }}
{{- end }}
