# This program is a daemon for Wayland that listens when certain display
# outputs become enabled/disabled, and configures them.

# Laptop screen is enabled
profile {
    output eDP-1 enable
}

# When monitor is connected, laptop screen is disabled
profile {
    output HDMI-A-2 enable
    output eDP-1 disable
}
