input {
    keyboard {
	    repeat-delay 200
	    repeat-rate 50
		xkb {
		    // toggle between english/russian keyboard layout with alt+shift
			layout "us,ru"
			options "grp:alt_shift_toggle"
        }
	}
    focus-follows-mouse
}

layout {
    background-color "#000000"
    center-focused-column "never"
    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
        off
    }

    gaps 0

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
	width 2
        active-color "#cba6f7"
        inactive-color "#000000"
    }
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
//spawn-at-startup "waybar"

spawn-at-startup "/home/e/dotfiles/programs/just_clock/target/release/just_clock"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

animations {
    off
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Dialogs window rule
window-rule {
    match app-id="confirm"
    match app-id="xdg-desktop-portal-gtk"

    open-floating true
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.45; }
}

overview { backdrop-color "#000000"; }

binds {
    Super+L { spawn "zeditor"; }
    Super+U { spawn "glide-bin"; }
    Super+H { spawn "/home/e/dotfiles/proton_pass_finder/target/release/proton_pass_finder"; }
    Super+Ctrl+H { spawn "proton-pass"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Super+T { close-window; }

    Super+N { focus-column-left; }
    Super+I { focus-column-right; }
    Super+E { focus-window-down; }
    Super+M { focus-window-up; }

    Super+Ctrl+N { move-column-left; }
    Super+Ctrl+I { move-column-right; }
    Super+Ctrl+E { move-window-down; }
    Super+Ctrl+M { move-window-up; }

    Super+W { focus-workspace 1; }
    Super+F { focus-workspace 2; }
    Super+P { focus-workspace 3; }
    Super+B { focus-workspace 4; }

    Super+Ctrl+W { move-window-to-workspace 1; }
    Super+Ctrl+F { move-window-to-workspace 2; }
    Super+Ctrl+P { move-window-to-workspace 3; }
    Super+Ctrl+B { move-window-to-workspace 4; }

    Super+R { set-window-width "+10"; }
    Super+Ctrl+R { set-window-height "+10"; }
    Super+S { set-window-width "-10"; }
    Super+Ctrl+S { set-window-height "-10"; }

    Super+K { toggle-window-floating; }
    Super+Ctrl+K { switch-focus-between-floating-and-tiling; }

    Super+J { spawn "alacritty" "--class" "scratchpad_terminal"; }
    Super+Ctrl+J { spawn "alacritty" "--class" "system_monitor" "--command" "btm"; }

    Super+6 { focus-window-previous; }
    Super+C { expand-column-to-available-width; }
    Super+Ctrl+F { fullscreen-window; }
}
