input {
    keyboard {
	    repeat-delay 200
	    repeat-rate 50

		xkb {
			layout "us,ru(phonetic)"

			options "grp:alt_shift_toggle"
        }
	}
    focus-follows-mouse
}

layout {
    background-color "#000000"
    center-focused-column "never"

    // By default focus ring and border are rendered as a solid background rectangle
    // behind windows. That is, they will show up through semitransparent windows.
    // This is because windows using client-side decorations can have an arbitrary shape.
    //
    // If you don't like that, you should uncomment `prefer-no-csd` below.
    // Niri will draw focus ring and border *around* windows that agree to omit their
    // client-side decorations.
    //
    // Alternatively, you can override it with a window rule called
    // `draw-border-with-background`.

    // You can change how the focus ring looks.
    focus-ring {
	off
    }

    gaps 0

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
	width 2
        active-color "#cba6f7"
        inactive-color "#000000"
    }
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
//spawn-at-startup "waybar"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

animations {
    off
}

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Dialogs window rule
window-rule {
    match app-id="confirm"
    match app-id="xdg-desktop-portal-gtk"

    open-floating true
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.45; }
}

overview { backdrop-color "#000000"; }

binds {
    Alt+M { spawn "ferrishot"; }
    Alt+I { spawn "zeditor"; }
    Alt+R { spawn "glide-bin"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }


    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    //Alt+O repeat=false { toggle-overview; }

    Alt+T { close-window; }

    //Alt+Left  { focus-column-left; }
    //Alt+Down  { focus-window-down; }
    //Alt+Up    { focus-window-up; }
    //Alt+Right { focus-column-right; }
    //Alt+H     { focus-column-left; }
    //Alt+J     { focus-window-down; }
    //Alt+K     { focus-window-up; }
    //Alt+L     { focus-column-right; }

    Alt+N { focus-column-left; }
    Alt+E { focus-window-down; }
    //Alt+I { focus-window-up; }
    Alt+O { focus-column-right; }

    //Alt+Ctrl+Left  { move-column-left; }
    //Alt+Ctrl+Down  { move-window-down; }
    //Alt+Ctrl+Up    { move-window-up; }
    //Alt+Ctrl+Right { move-column-right; }
    //Alt+Ctrl+H     { move-column-left; }
    //Alt+Ctrl+J     { move-window-down; }
    //Alt+Ctrl+K     { move-window-up; }
    //Alt+Ctrl+L     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Alt+J     { focus-window-or-workspace-down; }
    // Alt+K     { focus-window-or-workspace-up; }
    // Alt+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Alt+Ctrl+K     { move-window-up-or-to-workspace-up; }

    //Alt+Home { focus-column-first; }
    //Alt+End  { focus-column-last; }
    //Alt+Ctrl+Home { move-column-to-first; }
    //Alt+Ctrl+End  { move-column-to-last; }

    //Alt+Shift+Left  { focus-monitor-left; }
    //Alt+Shift+Down  { focus-monitor-down; }
    //Alt+Shift+Up    { focus-monitor-up; }
    //Alt+Shift+Right { focus-monitor-right; }
    //Alt+Shift+H     { focus-monitor-left; }
    //Alt+Shift+J     { focus-monitor-down; }
    //Alt+Shift+K     { focus-monitor-up; }
    //Alt+Shift+L     { focus-monitor-right; }

    //Alt+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    //Alt+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    //Alt+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    //Alt+Shift+Ctrl+Right { move-column-to-monitor-right; }
    //Alt+Shift+Ctrl+H     { move-column-to-monitor-left; }
    //Alt+Shift+Ctrl+J     { move-column-to-monitor-down; }
    //Alt+Shift+Ctrl+K     { move-column-to-monitor-up; }
    //Alt+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Alt+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Alt+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    //Alt+Page_Down      { focus-workspace-down; }
    //Alt+Page_Up        { focus-workspace-up; }
    //Alt+U              { focus-workspace-down; }
    //Alt+I              { focus-workspace-up; }
    //Alt+Ctrl+Page_Down { move-column-to-workspace-down; }
    //Alt+Ctrl+Page_Up   { move-column-to-workspace-up; }
    //Alt+Ctrl+U         { move-column-to-workspace-down; }
    //Alt+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Alt+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    //Alt+Shift+Page_Down { move-workspace-down; }
    //Alt+Shift+Page_Up   { move-workspace-up; }
   // Alt+Shift+U         { move-workspace-down; }
    //Alt+Shift+I         { move-workspace-up; }

    Alt+W { focus-workspace 1; }
    Alt+F { focus-workspace 2; }
    Alt+P { focus-workspace 3; }
    Alt+B { focus-workspace 4; }

    Alt+5 { move-window-to-workspace 1; }
    Alt+0 { move-window-to-workspace 2; }
    Alt+3 { move-window-to-workspace 3; }
    Alt+1 { move-window-to-workspace 4; }

    // mirrors Ctrl-6 from Vim
    Alt+6 { focus-window-previous; }

    // Alternatively, there are commands to move just a single window:
    // Alt+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Alt+Tab

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    //Alt+BracketLeft  { consume-or-expel-window-left; }
    //Alt+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    //Alt+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    //Alt+Period { expel-window-from-column; }

    //Alt+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Alt+R { switch-preset-column-width-back; }
    //Alt+Shift+R { switch-preset-window-height; }
    //Alt+Ctrl+R { reset-window-height; }
    //Alt+F { maximize-column; }
    //Alt+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    //Alt+Ctrl+F { expand-column-to-available-width; }

    //Alt+C { center-column; }

    // Center all fully visible columns on screen.
    //Alt+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Alt+U { set-window-width "+10"; }
    Alt+Y { set-window-width "-10"; }

    Alt+C { expand-column-to-available-width; }
    Alt+Ctrl+F { fullscreen-window; }

    // Finer height adjustments when in column with other windows.
    //Alt+Shift+Minus { set-window-height "-10%"; }
    //Alt+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    //Alt+V       { toggle-window-floating; }
    //Alt+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    //Alt+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Alt+Space       { switch-layout "next"; }
    // Alt+Shift+Space { switch-layout "prev"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    //Alt+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    //Alt+Shift+E { quit; }
    //Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    //Alt+Shift+P { power-off-monitors; }
}
