default_border pixel 1
default_floating_border none
focus_wrapping no
hide_edge_borders smart
font pango:monospace 0.001

# Turn off screen on lid closed
set $laptop eDP-1
bindswitch lid:on output $laptop disable
bindswitch lid:off output $laptop enable

# bindsym Mod4+m exec ferrishot
bindsym Mod4+l exec zeditor
bindsym Mod4+u exec glide-bin

bindsym Mod4+Control+F1 exec /home/e/o/dotfiles/scripts/16_9_left.sh
bindsym Mod4+Control+F2 exec /home/e/o/dotfiles/scripts/16_9_right.sh
bindsym Mod4+Control+F3 exec /home/e/o/dotfiles/scripts/16_9_center.sh
bindsym Mod4+Control+F4 exec /home/e/o/dotfiles/scripts/16_9_off.sh

bindsym Mod4+Control+h exec proton-pass

# bindsym Mod4+j move scratchpad
# bindsym Mod4+u scratchpad show

# Toggle the focused window between tiling and floating mode
bindsym Mod4+k floating toggle
# Swap focus between the tiling area and the floating area
bindsym Mod4+Control+k focus mode_toggle

# Listen for changes in display configuration, and react accordingly
exec kanshi

exec /home/e/o/dotfiles/programs/just_clock/target/release/just_clock

exec alacritty --class scratchpad_terminal
exec alacritty --class system_monitor --command btm

for_window [app_id="system_monitor"] {
    move scratchpad
}

for_window [app_id="scratchpad_terminal"] {
    move scratchpad
}

bindsym Mod4+j [app_id="scratchpad_terminal"] scratchpad show
bindsym Mod4+Control+j [app_id="system_monitor"] scratchpad show

bindsym Mod4+t kill

bindsym Mod4+n focus left
bindsym Mod4+i focus right
bindsym Mod4+e focus down
bindsym Mod4+m focus up

bindsym Mod4+Control+n move left
bindsym Mod4+Control+i move right
bindsym Mod4+Control+e move down
bindsym Mod4+Control+m move up

bindsym Mod4+w workspace number 1
bindsym Mod4+f workspace number 2
bindsym Mod4+p workspace number 3
bindsym Mod4+b workspace number 4

bindsym Mod4+Control+w move container to workspace number 1
bindsym Mod4+Control+f move container to workspace number 2
bindsym Mod4+Control+p move container to workspace number 3
bindsym Mod4+Control+b move container to workspace number 4

bindsym Mod4+r resize grow width 10 px or 10 ppt
bindsym Mod4+Control+r resize grow height 10 px or 10 ppt
bindsym Mod4+s resize shrink width 10 px or 10 ppt
bindsym Mod4+Control+s resize shrink height 10 px or 10 ppt

bindsym XF86AudioRaiseVolume exec --no-startup-id pamixer --increase 5
bindsym XF86AudioLowerVolume exec --no-startup-id pamixer --decrease 5
bindsym XF86AudioMute exec --no-startup-id pamixer --toggle-mute
bindsym XF86MonBrightnessUp exec --no-startup-id lumina set +5%
bindsym XF86MonBrightnessDown exec --no-startup-id lumina set -5%

input type:keyboard {
    # Once a key is held for 200 seconds, it will begin to repeat
    repeat_delay 200
    # When a key is repeated, repeat it 50 times a second - every 20ms
    repeat_rate 50
}

client.focused #000000 #000000 #000000 #000000 #cba6f7
client.focused_inactive #000000 #000000 #000000 #000000 #000000
client.unfocused #000000 #000000 #000000 #000000 #000000
client.urgent #000000 #000000 #000000 #000000 #000000
client.placeholder #000000 #000000 #000000 #000000 #000000
output * bg #000000 solid_color
