default_border pixel 1
default_floating_border none
focus_wrapping no
hide_edge_borders smart
font pango:monospace 0.001

bindsym Mod1+m exec ferrishot
bindsym Mod1+i exec zeditor
bindsym Mod1+r exec firefox

bindsym Mod1+t kill

bindsym Mod1+n focus left
bindsym Mod1+o focus right

bindsym Mod1+2 move left
bindsym Mod1+4 move down
bindsym Mod1+1 move up
bindsym Mod1+8 move right

bindsym Mod1+w workspace number 1
bindsym Mod1+f workspace number 2
bindsym Mod1+p workspace number 3
bindsym Mod1+b workspace number 4

bindsym Mod1+5 move container to workspace number 1
bindsym Mod1+0 move container to workspace number 2
bindsym Mod1+3 move container to workspace number 3
bindsym Mod1+7 move container to workspace number 4

bindsym Mod1+u resize grow width 10 px or 10 ppt
bindsym Mod1+y resize shrink width 10 px or 10 ppt

bindsym XF86AudioRaiseVolume exec --no-startup-id pamixer --increase 5
bindsym XF86AudioLowerVolume exec --no-startup-id pamixer --decrease 5
bindsym XF86AudioMute exec --no-startup-id pamixer --toggle-mute
bindsym XF86MonBrightnessUp = "exec --no-startup-id lumina set +5%
bindsym XF86MonBrightnessDown = "exec --no-startup-id lumina set -5%

input type:keyboard {
    # Once a key is held for 200 seconds, it will begin to repeat
    repeat_delay 200
    # When a key is repeated, repeat it 50 times a second - every 20ms
    repeat_rate 50
}

client.focused #000000 #000000 #000000 #000000 #cba6f7
client.focused_inactive #000000 #000000 #000000 #000000 #000000
client.unfocused #000000 #000000 #000000 #000000 #000000
client.urgent #000000 #000000 #000000 #000000 #000000
client.placeholder #000000 #000000 #000000 #000000 #000000
output * bg #000000 solid_color
